body{
  font-family: "SF Pro Text","Helvetica Neue",Helvetica,Lato,Arial,sans-serif;
font-size: 16px;
line-height: 1.5;
color: #3a3a3a;
}
.container{
  width: 90%;
  margin: auto;
  
}

/* navbar  start  */
#nav{
  margin-bottom: 70px;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
  
}
ul>li{
padding: 5px;
}
#nav{
display: flex;
}
#nav-left{
flex-grow: 1;
}
#nav>ul{
display: flex;
font-size: 12px;
}
ul>li:nth-child(1)>img{
width: 60px;
padding-top: 13px;
}
li a, .dropbtn {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
border-radius: 10px;
box-shadow: 2px 2px 2px 2px #888888;
}

.dropdown-content a {
color: black; 
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown:hover .dropdown-content {
display: block;
}
#nav-right>li>button{
margin-top: 8px;
padding: 10px;
border: 1px solid black;
border-radius: 10px;
background-color: white;
font-size: 12px;

}
#nav-right>li>button:hover,a:hover{
color: #02bdad;
}
#nav-right>li>button:hover{
border: 1px solid #02bdad;
background-color: white;
}
/* navbar end */

/* CONTENT1 START */
#box-awarded{
  display: grid; 
  gap: 20px;
  grid-template-areas: 'baleft baright';
  
}
#box-awarded-left{
  grid-area: baleft;
}#box-awarded-right{
  grid-area: baright;
}
#box-awarded-right>img{
 min-width: 500px;
}
#box-awarded-left>p:nth-child(1){
  background-color: rgb(223 145 0 / 29%);
  width: 60%;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  color: #e48546;
  font-weight: 700;
}
#box-awarded-left>p:nth-child(3){
  font-size: 25px;
}
#box-awarded-left>p>button{
  background-color: #e48546;
  border: 0;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  /* margin-right: 5px; */
}
#box-awarded-left-input>input{
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid rgb(157, 188, 194);
}
#box-awarded-left-input>button{
  padding: 15px;
  border-radius: 10px;
 
  margin-left: 5px;
  border: 0;
  background-color: #02bdad;
  color: white;
  font-size: 20px;
}
h5{
  font-weight: 600;
  text-align: center;
}
h5+button{
  width: 98%;
  display: inline;
  margin: 0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(180, 175, 175);
}
h5+button>img{
  width: 15px;
  margin-right: 15px;
}
#text{
  font-size: 15px;
  margin: 0;
}
#text>a{
  border-bottom: 1px dotted black;
}
#text>a:hover{
  border-bottom: 1px solid black;
  color: black;
}
/* CONTENT1 END */
#clear{
  clear: both;
}
/* SPONSORSHIP START */
#sponsor{
  width: 80%;
  margin: auto;
}
#sponsor>p{
  margin-top: 70px;
  text-align: center;
  color: #df9100;
  font-size: 20px;
  font-weight: 700;
}
#sponsor-img{
  display: grid;
  gap: 5px;
  grid-template-areas: 'apple verizon data emovis vm ibm loreal nyu';
}
#apple{
  grid-area: apple;
}
#verizon{
  grid-area: verizon;
}
#data{
  grid-area: data;
}
#emovis{
  grid-area: emovis;
}
#vm{
  grid-area: vm;
}
#ibm{
  grid-area: ibm;
}
#loreal{
  grid-area: loreal;
}
#nyu{
  grid-area: nyu;
}
#sponsor-img>img{
  width: 80px;
  display: inline-block;
  margin-top: 20px;
}
#sponsor-img>img:nth-child(1){
  margin-top: -5px;
  width: 60px;
}
/* SPONSORSHIP END */

/* CONTENT2 STRAT */
#content2{
  width: 90%;
 margin: auto;
  text-align: center;
}
#content2>button>img{
  width: 20px;
}
#content2>button{
  margin-top: 70px;
  background-color:#c44ae4;
  padding: 17px;
  border: 0;
  border-radius: 50%;
}
#content2>p{
  font-size: 22px;
  color: #888888;

}
#animation{
  display: flex;
}
#animation>button{
  flex-grow: 1;
  margin: 2px;
  padding: 0;
  border: 0;
  background-color: white;
  font-size: 22px;
  font-weight: 300;
}
#animation>button:nth-child(1),#animation>button:nth-child(11n){
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: burlywood;
}
#btn-text{
  display: flex;
}
#btn-text>p{
  flex-grow: 1;
}